/* App.css */
.App {
  background-color: #F8C8DC;
  border-style: outset;
  border-radius: 35px;
  height: 40px;
  width: 800px;
  display: flex;
  justify-content: center; /* Centers content inside horizontally */
  text-align: center; /* Centers text */
  font-size: 24px;
}

.DifferentPages {
  display: flex;
  margin-top: 150px;
}

.loveletter {
  height: 200px;
  width: 300px;
  margin: 40px;
  margin-bottom: 5px;
}

.findapair {
  height: 200px;
  width: 300px;
  margin: 40px;
  margin-bottom: 5px;
}

button {
  margin-left: 40px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  background-color: #E0AAFF;
  border-radius: 25%;
}
