/* App.css */
.App {
  background-color: #F8C8DC;
  border-style: outset;
  border-radius: 35px;
  height: 40px;
  width: 800px;
  display: flex;
  justify-content: center; /* Centers content inside horizontally */
  text-align: center; /* Centers text */
  font-size: 24px;
}

.DifferentPages {
  display: flex;
  margin-top: 150px;
}

.loveletter {
  height: 200px;
  width: 300px;
  margin: 40px;
  margin-bottom: 5px;
}

.findapair {
  height: 200px;
  width: 300px;
  margin: 40px;
  margin-bottom: 5px;
}

button {
  margin-left: 40px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  background-color: #E0AAFF;
  border-radius: 25%;
}

button:hover {
  background-color: #993de0;
}

.game-board {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card.matched {
  border: 2px solid green;
}

.card img[src="/images/card-back.png"] {
  background: #d9534f;
  border-radius: 10px;
}

