/* App.css */
.App {
  background-color: #F8C8DC;
  border-style: outset;
  border-radius: 35px;
  height: 40px;
  width: 800px;
  display: flex;
  justify-content: center; /* Centers content inside horizontally */
  text-align: center; /* Centers text */
  font-size: 24px;
}

.DifferentPages {
  display: flex;
  margin-top: 150px;
}

.loveletter {
  height: 350px;
  width: 550px;
  margin: 40px;
}
