.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
}

.App {
  background-color: #F8C8DC;
  border-style: outset;
  border-radius: 35px;
  height: 40px;
  width: 600px;
  display: flex;
  text-align: center;
  margin-left: 250px;
}
